/* Hintergrundfarben nach Fächergruppen */
.FG1D {
    background-color: #fde9d9;
}

.FG1 {
    background-color: #fdddc3;
}

.FG1KuMu {
    background-color: #fccca5;
}

.FG2 {
    background-color: #eaf1de;
}

.FG2Rel {
    background-color: #d7e4bc;
}

.FG3M {
    background-color: #c5d9f1;
}

.FG3 {
    background-color: #8db4e3;
}

.FGSp {
    background-color: #fefefe;
}

.FGPK {
    background-color: #dddddd;
}

/* Ende Hintergrundfarben nach Fächergruppen */

#kopfzeile {
    text-align: center;
    background-color: LightGrey;
    font-size: 4.2vw;
}

.table-container {
    display: flex;
}


/* Tabellengestaltung */
table {
    border-collapse: collapse;
}

table#Faecherwahl {
    width: max(fit-content, 600);
}

table.stunden {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.col_fachbez {
    width: 24%;
}

.col_fkrzl {
    width: 8%;
}

.col_hj {
    width: 10%;
}

.col_abi {
    width: 8%;
}

th,
td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.header-container {
    display: flex;
    align-items: center;
}

td.disabled {
    background-color: darkgrey;
}

/* Tabelle mit Infos und Prüfungen */
div.infoKopf {
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
    /* Zeilenumbruch abschalten */
    white-space: nowrap;
}

.infoKopf > h2,h1 {
    margin: 0px 0px 5px;
    background-color: #f2f2f2;
    border-collapse: collapse;
}

.highlight {
    background-color: yellow;
}

/* div - container mit Scrollbar für Bedingungsüberprüfungen */
.div-pruef {
    border: 1px solid;
    overflow-y: auto;
    overflow-x: auto;
    text-align: left;
    white-space: nowrap;
    min-height: 40px;
    /* width: max(500px, 45%); */
}

/* Darstellungseinstellungen für die Druckausgabe */
@media print {
    tr.Fach {
        background-color: transparent;
    }

    div.row {
        font-family: Arial, Helvetica, sans-serif;
    }

    .header-container {
        width: 750px;
    }

    div.print_show {
        width: 750px;
    }

    .print_hide {
        display: none;
    }

    table,
    td,
    th {
        margin-top: 10px;
        border-width: 1px;
        border-style: solid;
        font-size: medium;
        padding: 2px;
    }

    tr.infoKopf {
        width: 750px;
        padding: 2px;
        height: 0px;
    }

    tr.infoInhalt {
        width: 750px;
        padding: 2px;
        height: 0px;
    }

}

img {
    max-width: 190px;
    /* Maximale Breite des Bildes */
    height: 94px;
    /* Automatische Höhe entsprechend der Breite */
    margin-right: 20px;
    /* Abstand zwischen Bild und Überschrift */
}

/* Responsive Design */
* {
    box-sizing: border-box;
}

/* For mobile phones and small screens: */
.col1,.col2 {
    width: 100%;
    max-width: 600px;
}

@media only screen and (min-width: 1000px) {

    /* For desktop: */
    .col1 {
        width: max(550px, 50%);
    }
    .col2 {
        max-width: calc(100vw - 700px);
    }
}

.col1,.col2 {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}